/* =============================================================== */
/* HEADER */
/* =============================================================== */

.header {
    background-color: var(--azul-escuro);

    display: flex;
    /* justify-content -> Alinha no sentido do flex */
    justify-content: space-between;
    /* align-items -> Alinha no sentido contrario do flex */
    align-items: center;

    padding: 0 120px;

    /* 10% Da visualização do dispositivo no site */
    height: 10vh;
}

.navigation {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navigation a {
    text-transform: uppercase;
    font-size: 1em;
    /* 1em -> puxa do pai (navegação) porem por não ter definido ele puxa o padrão (16px)*/
    font-weight: 700;
}

a {
    color: var(--branco);
    text-decoration: none;
}

/* =============================================================== */
/* MAIN BANNER */
/* =============================================================== */

.main-banner {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home-svg.svg);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.main-banner img {
    align-self: flex-end;
    width: 35%;
}



.banner-text {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 50px;
}

.banner-text p {
    font-size: 1.5em;
    width: 60%;
}



.button {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.button:hover {
    background-color: #2ab2ab;
    color: var(--branco);
}


/* =============================================================== */
/* SECTION TITLES */
/* =============================================================== */

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.section-title span {
    display: flex;

    width: 250px;
    height: 4px;

    background-color: var(--cor-destaque);
}

/* =============================================================== */
/* BENEFITS */
/* =============================================================== */

.benefits {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.benefits h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;

    width: 90%;
}

.benefits p {
    font-size: 1em;
    width: 80%;
}

.benefits-list {
    display: grid;

    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: center;
}

.benefit-card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25); /* x -> y -> blur -> cor com transparencia*/

    text-align: center;

    /* Cria referencia de posicionamente para icone, quando for posicionado use esse card como referencia */
    position: relative;
}

.benefit-icon img {
    width: 50%;
}

.benefit-icon {
    border: 4px solid var(--cor-destaque);
    border-radius: 50%;

    background-color: var(--branco);

    width: 30%;
    height: 30%;

    /* Retira o icone do fluxo normal. com o absolute ele pode ficar por cima do card. */
    position: absolute;

    /* Move o circulo para cima, o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo do elemento em 50% da largura do card */
    left: 50%;

    /* Ajustamos o posicionamento do elemento mas a borda esquerda do circulo fica no centro não o circulo inteiro */
    /* por isso usamos o transform que move o circulo para a esquerda em 50% da largura dele, fazendo com que o circulo centralize. */
    transform: translateX(-50%);

    display: grid;
    place-items: center;

    /* place-items: center; é a mesma coisa que utilizar align-items: center; e justify-content: center; */
}

/* =============================================================== */
/* MID BANNER */
/* =============================================================== */

.mid-banner {
    color: var(--branco);

    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0px 120px;
}

/* =============================================================== */
/* COLLECTION */
/* =============================================================== */

.collection {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    
    padding: 50px 120px;
    
    gap: 100px;
}

.book-collection {
    display: grid;

    grid-template-columns: repeat(4, auto);
    gap: 5%;

    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    text-align: center;

    gap: 15px;
}

.book img {
    height: 300px;
}

.book h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}

.book-info {
    font-size: 0.8em;
}

/* =============================================================== */
/* FOOTER */
/* =============================================================== */

.content {
    display: flex;
    justify-content: space-between;

    background-color: var(--azul-escuro);

    padding: 0 120px;
    padding-top: 50px;

    height: 40vh;


}

.links {
    color: var(--branco);

    display: flex;
    gap: 100px;
}

.links h2 {
    color: var(--cor-destaque);

    font-size: 1em;
    font-weight: 600;
}

.library, .about-us {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.button2 {
    font-size: 1em;
}

.logos {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 160px;
}

.rodape {
    display: flex;
    gap: 200px;
    padding-right: 20px;

    margin-bottom: 130px;
}
