/* =============================================================== */
/* MAIN */
/* =============================================================== */

.content {
    background-image: url(../imgs/banner-login.png);
    background-size: cover;

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* =============================================================== */
/* LOGIN */
/* =============================================================== */

.login {
    display: flex;
    flex-direction: column;
    background-color: var(--fundos);

    width: 35%;
    padding: 50px 100px;
    gap: 50px;

    border-radius: 30px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
}

.login-header img {
    margin-bottom: 15px;
}

.login-header h1 {
    font-size: 1.5em;
}

.login-header p {
    font-size: 1em;
}

form {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.camp {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

input, .join-button, .join-google {
    width: 100%;
    height: 50px;

    border-radius: 10px;
}

.camp label {
    color: var(--azul-escuro);
    font-size: 1em;
    font-weight: 700;
}

.camp input {
    border: none;
    outline: none;

    background-color: var(--branco);

    padding: 0px 20px;

    font-size: 1em;
}

.camp input::placeholder {
    color: #00000050;
    font-style: italic;
}

/* PASSWORD CAMP */

.password-camp {
    position: relative;
}

.eye-button {
    position: absolute;

    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    background: transparent;
    border: none;

    cursor: pointer;
    color: #00000050;
}

/* JOIN BUTTON */

.join-button {
    margin-top: 30px;

    border: none;

    background-color: var(--azul-escuro);
    color: var(--branco);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    transition: transform 0.2s;
}

.join-button:hover {
    cursor: pointer;
    background-color: #344957;

    transform: translateY(-3px);
}

/* JOIN GOOGLE */

.join-google {
    border: none;

    background-color: var(--branco);
    color: var(--azul-escuro);

    font-size: 1.2em;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
    
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    transition: transform 0.2s;

}

.join-google:hover {
    cursor: pointer;

    transform: translateY(-3px);
}

.join-button img {
    width: 30px;
    height: 30px;
}