/* =============================================================== */
/* CONFIGURAÇÕES GLOBAIS */
/* =============================================================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

:root {
    --azul-escuro:#26333D;
    --texto:#26333D;
    --branco:#ffffff;
    --cor-destaque:#2fd6cb;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--branco);
    color: var(--texto);
}